/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  color: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: normal;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

body {
  /* COLOR VARIABLES */

  --color-primary: #9443e0;
  --color-accent-1: #f17b14;
  --color-accent-2: #f11489;

  --color-background: #f3f3f4;
  --color-background-dark: #353535;
  --color-background-preview: #e6e6e6;
  --color-light-1: #f3f3f4;
  --color-light-2: #f4ebd9;
  --color-dark-1: #3a3b37;
  --color-dark-2: #090909;

  --color-text: #423c3a;
  --color-text-opacity50: #423c3aa8;
  --color-text-opacity30: #423c3a52;
  --color-text-light: #f2f5ff;
  --color-text-opposite: #f2f5ff;

  --color-grey-light-1: #e9e9e9; // Light background
  --color-grey-light-2: #f2efee; // Light lines
  --color-grey-light-3: #d3c7c3; // Light text (placeholder)
  --color-grey-dark-1: #423c3a; // Normal text
  --color-grey-dark-2: #636363; // Lighter text

  --color-input-outline: #944be7;

  --color-form-banner: #6300c0;
  --color-item-banner: #005994;

  --color-button-item: #3ace2d;
  --color-button-item-hover: #13a706;

  --color-button: #006bb3;

  /* FONT FAMILY VARIABLES */

  --font-raleway: 'Raleway', Arial, Helvetica, sans-serif, monospace;
  --font-open-sans: 'Open Sans', Arial, Helvetica, sans-serif, monospace;
  --font-montserrat: 'Montserrat', 'Courier New', Arial, Helvetica, sans-serif,
    monospace;
  --font-inter: 'Inter', Arial, Helvetica, sans-serif, monospace;
  --font-poppins: 'Poppins', Arial, Helvetica, sans-serif, monospace;

  /* FONT SIZE VARIABLES */

  // body font size
  --text-base-size: 1em;

  // type scale
  --text-scale-ratio: 1.3;
  --text-xxs: calc((1em / (var(--text-scale-ratio) * 1.35)));
  --text-xs: calc((1em / var(--text-scale-ratio)));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
}

body.dark-mode {
  --color-background: #353535;
  --color-background-preview: #424242;

  --color-text: #f2f5ff;
  --color-text-opposite: #423c3a;
  --color-text-opacity50: #f2f5ff86;
  --color-text-opacity30: #f2f5ff57;

  --color-input-outline: #be6eff;

  --color-form-banner: #1ebee6;
  --color-item-banner: #9800d4a2;

  --color-button-item: #13a506;
  --color-button-item-hover: #13a706;

  --color-button: #1ebee6;
}

#root {
  display: grid;
  min-height: 100vh;
  width: 100vw;

  background-color: var(--color-background);
  font-family: var(--font-poppins);
  color: var(--color-text);
}

.App {
  position: relative;
  place-self: center;
  // width: clamp(600px, 100%, 1200px);

  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1050px) {
  .App {
    flex-direction: column;
  }

  .preview__container {
    background-color: var(--color-background) !important;
    margin-bottom: 40px;
  }
}
