@use 'base';

@media screen and (max-width: 1050px) {
  .App {
    flex-direction: column;
  }

  .preview__container.preview__container {
    margin-bottom: 40px;
    position: fixed;
    left: 0;
    height: 100vh;
    max-height: 100%;
    top: 0;
    background-color: var(--color-background-opacity50);
  }

  .editor {
    width: 100%;
    max-height: none;
  }
}

@media screen and (max-width: 600px) {
  body {
    --text-base-size: 0.85em;
    font-size: var(--text-md);
  }

  .preview__printable {
    transform: scale(0.75);
  }

  .editor {
    padding-block: 50px;
    padding-inline: 10px;
  }

  .header-title {
    font-size: var(--text-xxl);
  }

  .form-title {
    font-size: var(--text-lg);
  }
}

@media screen and (max-width: 460px) {
  .preview__printable {
    transform: scale(0.65);
  }

  .btn__submit {
    padding: 8px 12px;
    font-size: var(--text-sm);
  }
}

@media screen and (max-width: 375px) {
  .preview__printable {
    transform: scale(0.55);
  }

  .btn__submit-item {
    left: auto;
    right: 10px;
  }

  .btn__toggle-preview,
  .btn__print-preview {
    font-size: 25px;
  }
}

@media screen and (max-width: 300px) {
  .preview__printable {
    transform: scale(0.45);
  }
}

@media print {
  .editor {
    display: none;
  }

  .preview__container {
    background-color: white;
  }

  .preview__printable.preview__printable {
    display: grid;
    box-shadow: none;
  }

  .btn-container__preview.btn-container__preview {
    display: none;
  }
}
