.preview {
  &__container {
    position: relative;
    color: var(--color-text);
    // width: clamp(300px, 50%, 816px);
    width: 100%;
    flex-grow: 1;
    background-color: var(--color-background-preview);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__printable {
    display: grid;
    grid-template-columns: 345px auto;
    grid-template-rows: auto 1fr;
    gap: 30px;
    padding: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    background-color: white;
    height: 862.5px;
    width: 600px;
    font-family: var(--font-raleway);
    color: black;
    line-height: normal;
  }

  &__main-col {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    gap: 5px;
    word-wrap: break-word;
  }

  &__sidebar {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  &-title {
    padding-bottom: 5px;
    margin-bottom: 12px;
    border-bottom: 1.2px solid var(--color-accent-1);

    font-family: var(--font-montserrat);
    font-size: 12.5px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-accent-2);
  }

  &-unit__educ-info,
  &-unit__exp-info {
    position: relative;
    padding-left: 18px;

    &::before {
      position: absolute;
      content: '';
      width: 5.5px;
      height: 5.5px;
      border: 3px solid rgba(128, 128, 128, 0.5);
      border-radius: 50%;
      background-color: white;
      left: 0;
      margin-top: 5px;
    }
  }
}

.preview-area {
  height: fit-content;

  &__basic-info {
    .preview__name {
      font-size: 27px;
      font-family: var(--font-raleway);
      font-weight: bold;
      color: var(--color-accent-1);
    }

    .preview__job-title {
      font-size: 21px;
      font-family: var(--font-montserrat);
      color: var(--color-accent-1);
    }

    .preview__self-summary {
      overflow-wrap: break-word;
      margin-top: 8px;
      font-size: 12.25px;
    }
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 13px;
    font-size: 11.5px;

    & .preview__contact-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    & .preview__contact-icon {
      font-variation-settings: 'FILL' 01, 'wght' 400, 'GRAD' 0, 'opsz' 48;
      font-size: 16px;
      color: var(--color-accent-2);
    }

    & .preview__contact-content {
      width: 170px;
      word-break: break-all;
    }
  }

  &__educ-info,
  &__exp-info {
    .preview-unit__educ-info,
    .preview-unit__exp-info {
      margin-bottom: 30px;
    }

    .preview__info-main-header {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 10px;
    }

    .preview__institution,
    .preview__job-title {
      display: block;
      align-self: top;
      font-size: 15.5px;
      font-weight: bold;
      font-family: var(--font-montserrat);
    }

    .preview__degree-program,
    .preview__company {
      align-self: top;
      font-size: 15px;
    }

    .preview__active-years {
      display: block;
      margin-top: 2px;
      margin-bottom: 14px;
      font-size: 11px;
      font-style: italic;
      text-align: right;
    }

    .preview__gpa {
      font-size: 12px;
      margin-bottom: 10px;
    }

    .preview__educ-additional-info,
    .preview__job-responsibility {
      margin-bottom: 5px;
      padding-left: 5px;
      position: relative;
      font-size: 12.5px;
      font-family: var(--font-raleway);

      &::before {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.4);
        right: 100%;
        margin-top: 5px;
      }
    }

    .preview__job-responsibility {
      margin-bottom: 9px;
    }
  }

  &__skills-info {
    .preview__skill-container {
      display: flex;
      flex-direction: column;
      gap: 7px;
      margin-bottom: 13px;
    }

    .preview__skill-category {
      font-size: 13.75px;
      font-weight: bold;
      font-family: var(--font-montserrat);
    }

    .preview__skill-item {
      padding-left: 7px;
      position: relative;
      width: 182px;
      font-size: 12.2px;
      word-break: break-all;

      &::before {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.4);
        right: 100%;
        margin-top: 5px;
      }
    }
  }

  &__other-info {
    .preview__category-item {
      padding-left: 7px;
      position: relative;
      margin-bottom: 7px;
      width: 182px;
      font-size: 12.2px;
      word-break: break-all;

      &::before {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.4);
        right: 100%;
        margin-top: 5px;
      }
    }
  }
}
